#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


/ {
    macros {
        // Macro para la ñ (Alt + 164)
        enye: enye {
            compatible = "zmk,behavior-macro";
            label = "Ñ";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp KP_N1 &kp KP_N6 &kp KP_N4>
                , <&macro_release &kp LALT>
                ;
        };
    };

    behaviors {
        // Tap Dance: 1 tap = n    |    2 taps = ñ
        td_n: tap_dance_n {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_N";
            #binding-cells = <0>;
            tapping-term-ms = <200>;     // Tiempo máximo entre los dos toques (ajusta si quieres más rápido/lento)
            bindings = <&kp N>, <&enye>;
        };
    };
};


#define DEFAULT 0
#define MOVE 1
#define NUMBERS 2
#define ADJUST 3
#define AOE2 4

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC   &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &kp GRAVE           &kp LEFT_BRACKET      &kp AMPERSAND      &kp PIPE    &kp QUESTION     &kp EXCLAMATION     &kp F11     &kp BSPC
                &kp TAB   &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp DOUBLE_QUOTES   &kp LEFT_PARENTHESIS  &kp N6             &kp N7      &kp N8           &kp N9              &kp N0      &kp BSPC
                &kp ESC   &kp Q     &kp W     &kp E     &kp R     &kp T     &kp SINGLE_QUOTE    &kp LEFT_BRACE        &kp Y              &kp U       &kp I            &kp O               &kp P       &kp DELETE
                &kp LSHFT &kp A     &kp S     &kp D     &kp F     &kp G     &kp GREATER_THAN    &kp LESS_THAN         &kp H              &kp J       &kp K            &kp L               &kp SEMI    &kp MINUS
                &kp LCTRL &kp Z     &kp X     &kp C     &kp V     &kp B     &kp UNDERSCORE      &kp EQUAL             &td_n              &kp M       &kp COMMA        &kp DOT             &kp FSLH    &kp BACKSLASH
                         &kp LEFT_GUI  &kp LEFT_ALT                                                                   &trans  &trans
                                &trans  &kp SPACE                                                                &kp ENTER  &trans 
                                &trans  &trans                                                                &mo MOVE  &trans 
                                &trans  &trans                                                                &trans    &trans 
            >;
        };

        move_layer {
            bindings = <
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                 &trans   &trans    &trans    &trans    &trans    &trans    &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                 &trans   &trans    &trans    &trans    &trans    &trans    &trans  
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                 &trans   &trans    &trans    &trans    &trans    &trans    &trans  
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                 &trans   &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &trans    &trans    
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                 &trans   &trans    &trans    &trans    &trans    &trans    &trans 
                        &trans  &trans                                                                   &trans  &trans
                                &trans  &trans                                        &trans  &trans 
                                &trans  &trans                                        &trans  &trans 
                                &trans  &trans                                        &trans  &trans 
            >;
        };

        numbers_layer {
            bindings = <
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                 &trans  &kp HASH   &kp PERCENT   &trans      &trans      &trans          &trans  
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                 &trans   &trans    &kp N7       &kp N8        &kp N9     &kp ASTERISK    &trans  
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                 &trans   &trans    &kp N4       &kp N5        &kp N6     &kp KP_MINUS    &trans  
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                 &trans   &trans    &kp N1       &kp N2        &kp N3     &kp KP_PLUS     &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                 &trans   &trans    &kp N0       &kp SLASH     &trans     &trans          &trans 
                        &trans  &trans                                                                   &trans  &trans
                                &trans  &trans                                        &trans  &trans 
                                &trans  &trans                                        &trans  &trans 
                                &trans  &trans                                        &trans  &trans 
            >;
        };

        adjust_layer {
            bindings = <
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                 &trans   &trans    &trans    &trans    &trans    &trans    &trans 
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                 &trans   &trans    &trans    &trans    &trans    &trans    &trans  
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                 &trans   &trans    &trans    &trans    &trans    &trans    &trans  
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                 &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &trans    &trans    &trans 
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                 &trans   &trans    &trans    &trans    &trans    &trans    &trans 
                        &trans  &trans                                                                   &trans  &trans
                                &trans  &trans                                        &trans  &trans 
                                &trans  &trans                                        &trans  &trans 
                                &trans  &trans                                        &trans  &trans 
            >;
        };

        age_of_empires_2_layer {
            bindings = <
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                 &trans   &trans    &trans    &trans    &trans    &trans    &trans 
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                 &trans   &trans    &trans    &trans    &trans    &trans    &trans  
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                 &trans   &trans    &trans    &trans    &trans    &trans    &trans  
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                 &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &trans    &trans    &trans 
                &trans    &trans    &trans    &trans    &trans    &trans    &trans                 &trans   &trans    &trans    &trans    &trans    &trans    &trans 
                        &trans  &trans                                                                   &trans  &trans
                                &trans  &trans                                        &trans  &trans 
                                &trans  &trans                                        &trans  &trans 
                                &trans  &trans                                        &trans  &trans 
            >;
        };
    };
};
